<h1>Welcome To Food Tracker</h1>
<p><b>Users</b></p>
<%= link_to "View Users", "/users" %></br>
<%= link_to "Create Users", "/users/new" %>


<p><b>Food Items</b></p>
<%= link_to "View Food Items", "/food_items" %></br>
<%= link_to "Create Food Items", "/food_items/new" %>
